@charset "utf-8";
/* CSS Document */

/*fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Yantramanav', sans-serif;
*/

/*colors
grøn-gul: #ADDC58 
lys grøn: #63BB3F
"mørke" grøn: #41A835
*/

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}


/*header*/
.header {
	height: 95px;
	width: 100%;
	background: rgba(0,0,0,0.77);
	position:relative;
	z-index: 1;
	color: white;
}

.header img {
	height:125%;
	width: auto;
	margin-left: 1%;
	margin-top: 0.2%;
	float: left;
	z-index: 1;
}

/*header links*/
.header a {
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;

}

.header a.title {
	font: normal normal normal 35px/45px Yantramanav;
	color: white;
	position: relative;
	top: 20%;
	padding: 12px;
}

.header a.title:hover {
	color:white;
}

/*active link*/
.header a.active {
	text-decoration: underline;
}

.header a:hover {
	color: #CACACA;
}

/*link section til højre*/
.header-right {
	float: right;
	padding-top: 32px;
}


.header span { /*free trial*/
	background: #41A835 0% 0% no-repeat padding-box;
	border-radius: 15px;
	padding: 10px;
	text-transform: uppercase;
}

.header a.lang { /*ja*/
	font: normal normal normal 12px/45px Open Sans;
	color: #e4e4e4;
	padding: 35px 5px 0px 5px;
	
}

.header a.langact { /*en*/
	font: normal normal normal 12px/45px Open Sans;
	color: #e4e4e4;
	text-decoration: underline;
	padding: 35px 5px 0px 0px;
}


/*HERO IMAGE*/

.hero-image {
  /* "linear-gradient" to add a darken background effect to the image */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../billeder/placeholder.png");
	height: 975px;
	width: 100%;
	top: -95px;
/*positon og center billedet til at skalere pænt på alle skærme */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


.hero-image h1{
	font: normal normal bold 80px/45px Yantramanav;
	color: white;
	
	position: absolute;
	top: 34%;
	left: 65%; 
}

.hero-image p {
	font: normal normal normal 40px/45px Open Sans;
	text-transform: capitalize;
	color:#E4E4E4;
	
	position: absolute;
	top: 41%;
	left: 65.1%;
	width: 450px;
	height: 100px;
}

/*DIVIDER*/

hr.solid1 {
	border-top: 26px solid #41A835  ;
	margin-top: -95px;
} 

hr.solid2 { /*top*/
	border-top: 15px solid #63BB3F;
	margin-top: -15px;
}

