@charset "utf-8";
/* CSS Document */

/*fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Yantramanav', sans-serif;
*/

/*colors
grøn-gul: #ADDC58 
lys grøn: #63BB3F
"mørke" grøn: #41A835
*/

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/*header*/
.header {
	height: 75px;
	width: 100%;
	background: rgba(0,0,0,0.77);
	position:relative;
	z-index: 1;
	color: white;
}

.header img {
	height:150%;
	width: auto;
	margin-left: 1%;
	margin-top: 0.2%;
	float: left;
	z-index: 1;
}

/*header links*/
.header a {
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
}

.header a.title {
	font-family: 'Yantramanav', sans-serif;
	font-size: 25px;
	position: relative;
}

/*active link*/
.header a.active {
	text-decoration: underline;
}

/*link section til højre*/
.header-right {
	float: right;
	
}


.header button {
	color: white;
	text-transform: uppercase;
	background-color: #63BB3F;
	border:none;
	padding: 30% 25%;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
	border-radius: 15px;
}

/*big img - måske i en container?*/

.bigimg img{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 975px;
}
