@charset "utf-8";
/* CSS Document */

/*fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Yantramanav', sans-serif;
*/

/*colors
grøn-gul: #ADDC58 
lys grøn: #63BB3F
"mørke" grøn: #41A835
*/

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-image: url("../../logo og ikoner/Tegnebræt 8_1_1.png");
	background-repeat: repeat-y;
	background-position: center;
}


/*header*/
.header {
	height: 95px;
	width: 100%;
	background: rgba(0,0,0,0.77);
	position:fixed; /*relative*/
	z-index: 1;
	color: white;
}

.header img {
	height:125%;
	width: auto;
	margin-left: 1%;
	margin-top: 0.2%;
	float: left;
	z-index: 1;
}

/*header links*/
.header a {
	float: left;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;

}

.header a.title {
	font: normal normal normal 40px/45px Yantramanav;
	color: white;
	position: relative;
	top: 20%;
	padding: 8px 10px 0px 20px;
}

.header a.title:hover {
	color:white;
}

/*active link*/
.header a.active {
	text-decoration: underline;
}

.header a:hover {
	color: #CACACA;
}

/*link section til højre*/
.header-right {
	float: right;
	padding: 25px 10px 0px 0px;
}


.header span { /*free trial 0F0F0F  1B2F19*/
	color: white; 
	text-shadow: 1px 1px 2px rgba(0,0,0,0.45);
	font: Yantramanav;
	background: #ADDC58 0% 0% no-repeat padding-box; 
	border-radius: 15px;
	padding: 10px 15px;
	text-transform: uppercase;
}

.header span:hover {
	color: white ;
	background-color: #41A835;
}

.header a.lang { /*ja*/
	font: normal normal normal 12px/45px Open Sans;
	color: #e4e4e4;
	padding: 32.5px 5px 0px 5px;
	
}

.header a.langact { /*en*/
	font: normal normal normal 12px/45px Open Sans;
	color: #e4e4e4;
	text-decoration: underline;
	padding: 32.5px 5px 0px 0px;
}


/*HERO IMAGE*/

.hero-image {
  /* "linear-gradient" to add a darken background effect to the image */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../billeder/Skærmbillede 2021-12-13 195020.png");
	height: 975px;
	width: 100%;
/*positon og center billedet til at skalere pænt på alle skærme */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	filter: drop-shadow(10px 15px 10px rgba(41, 41, 41, 0.2));
}


.hero-image h1{
	font: normal normal bold 80px/45px Yantramanav;
	color: white;
	position: absolute;
	top: 35%;
	left: 60%; 
}

.hero-image p {
	font: normal normal normal 35px/45px Open Sans;
	text-transform: capitalize;
	color:#E4E4E4;
	position: absolute;
	top: 42%;
	left: 60%;
	width: 595px;
	height: 100px;
}

.hero-image .btn1 { /*buy now*/
	position: absolute;
	top: 80%;
	left: 52%; 
	background-color: #ADDC58;
	color: white;
	font-size: 40px;
	padding: 30px 82px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.30);
}

.hero-image .btn2 { /*free trial*/
	position: absolute;
	top: 80%;
	left: 75%;
	background-color: #63BB3F;
	color: white;
	font-size: 40px;
	padding: 30px 62px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.30);
}


/*DIVIDER*/

.box{  
	background-color: #41A835; 
	position: absolute; 
	height: 30px; 
	width: 100%; 
	top: 101%;
} 

.box2{  
	background-color: #67B543; 
	position: absolute; 
	height: 1.5%; 
	width: 100%; 
	top: 103%;
}



/*IMAGE TEXT*/

.imgleft {
	position: relative;
	padding: 200px 0px 0px 0px;
	left: 10%;
}


.imgleft img {
	object-fit: cover;
	width: 917px;
	height: 700px;
	filter: drop-shadow(10px 15px 10px rgba(41, 41, 41, 0.2));
	border-radius: 3px;
}

.text-block-left {
	position: absolute;
	bottom: 32%;
	border-radius: 15px;
	left: 40%;
	background-color: #292929;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
	width: 40%;
}

.imgright {
	position: relative;
	left: 44%;
	padding: 200px 0px 0px 0px;
}

.imgright img {
	object-fit: cover;
	width: 917px;
	height: 700px;
	filter: drop-shadow(10px 15px 10px rgba(41, 41, 41, 0.2));
	border-radius: 3px;
}

.text-block-right {
	position: absolute;
	bottom: 35%;
	border-radius: 15px;
	right: 94%;
	background-color: #292929;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 25px;
	width: 40%;
}

/*bottom hero image */
.bottom-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../billeder/placeholder.png");
	height: 250px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 70px;
	filter: drop-shadow(10px 15px 10px rgba(41, 41, 41, 0.2));
}

.bb1 {
	position: absolute;
	background-color: #ADDC58;
	color: white;
	font-size: 35px;
	padding: 30px 82px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	top: 30%;
	left: 30%;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.30);
}

.bb2 {
	position: absolute;
	background-color: #41A835;
	color: white;
	font-size: 35px;
	padding: 30px 82px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	top: 30%;
	left: 55%;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.30);
}

/*FOOTER*/

footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #292929 0% 0%;
	text-align: center;
	color: white;
}

.footer-col {
	display: block;
	box-sizing: border-box;
	float: left;
	text-align: left;
	padding: 0px 100px;
	margin-left: auto;
	margin-right: auto;
	width:25%;
}

.footer-col a {
	color: white;
	text-decoration: none;
	display: block;
	margin: 5px;
}

.footer-col a:hover {
	color: grey;
}

.footer-col li {
	color: white;
}

.footer-content-wrapper {
	width: 80%;
	margin: 2px auto;  
}

.footer-content-wrapper h1 {
	font-size: 30px;
	margin-bottom: 10px;
	color: white;
}


.footlang  {
	color: white;
	text-decoration: none;
	padding-top: 160px;
	margin-top: 150px;
	font-size: 23px;
}

.footlang a {
	color: white;
	text-decoration: none;
}

.footlang a:hover {
	color: grey;
}

.credit {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 15px;
}

/*header mobile*/

.mobnav {
	height: 95px;
	width: 100%;
	background: #292929;
	position:fixed;
	z-index: 1;
	display: none;
}


.content {
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	z-index: 1;
	top: -2%;
	left: 95px;
	font-size: 25px;
	text-align: center;
	text-transform: capitalize;
}

.content img {
	width: 50%;
	position: absolute;
	left: -85px;
	top: 5%;
	display:none;
}


.mobnav  ul {
	align-self: flex-end;
}

.mobnav ul li {
	align-self: flex-end;
	list-style: none;
	position: relative;
	
}

.mobnav ul li ul {
	display: none; /*none*/
	position: absolute;
	background-color: rgba(0,0,0,0.77);
	right: 25%;
	top: 132%;
}


.mobnav ul li a {
	display: block;
	color: #fbfffd /*hvid*/;
	text-decoration: none;
	padding: 10px;
}


.mobnav ul li ul li {
	width: 600px;
}

.mobnav ul li ul li a {
	padding: 20px 50px;
	z-index: 1;
}

.mobnav ul li ul li a:hover {
	border-bottom: 3px solid #fbfffd /*hvid*/; 
	border-top: 3px solid #fbfffd /*hvid*/; 
	z-index: 1;
}

.mobnav ul li:hover ul {
	display: block;
	z-index: 1;
}


.grid-container {
  	display: none;
  	grid: 150px / auto;
  	grid-gap: 50px;
  	filter: drop-shadow(10px 15px 10px rgba(41, 41, 41, 0.2));
	margin-top: 65px;
}

.grid-container > div {
 	background-color: rgba(41,41,41,0.83);
	color: white;
  	text-align: center;
 	padding: 25px 25px;
 	font-size: 20px;
	border-radius: 25px;
	width: 350px;
	position: relative;
	left: 8%;
}

.grid-container > img {
	width: 100%;
    height: 400px;
	object-fit: cover;
 }




@media only screen and (max-width: 1000px) { /*knapper i heroimg */
	.hero-image h1{
		top: 35%;
		left: 10%; 
	}

	.hero-image p {
		top: 42%;
		left: 10%;
	}

	.hero-image .btn1 { /*buy now*/
		top: 70%;
		left: 8%; 
	}

	.hero-image .btn2 { /*free trial*/
		top: 70%;
		left: 55%;
	}
	
	
	.imgleft {
		left: 1.5%;
	}

	.text-block-left {
		bottom: 23%;
		left: 18%;
		width: 60%;
	}

	.imgright {
		left: 1.5%;
	}

	.text-block-right {
		bottom: 23%;
		right: 18%;
		width: 60%;
	}
	
	.bb1 {
		padding: 10px 42px;
		top: 37%;
		left: 20%;
	}

	.bb2 {
		padding: 10px 42px;
		top: 37%;
		left: 55%;
	}
	
	.footer-col {
		padding: 0px 50px;
		width:25%;
	}

	.footer-content-wrapper {
		width: 100%;
	}
	
	.header a {
		padding: 10px 8px;
	}
	
	.header a.title {
		padding: 8px 10px 0px 10px;
		top: 20%;
	}
	
	.header a.lang { /*ja*/
		padding: 50px 5px 0px 5px;
		position: relative;
		right: 23.4%;

	}

	.header a.langact { /*en*/
		padding: 50px 5px 0px 0px;
		position: relative;
		right: 23.4%;
	}
	
	
}

@media only screen and (max-width: 480px) { /*mobile*/
	body {
		background-image: url("../../logo og ikoner/Tegnebræt 16.png");
		background-repeat: repeat-y;
		background-position: center;
	}
	
	.header {
		display: none;
	}
	
	.header img {
		display: none;
	}
	
	a.lang {
		display:none;
	}
	
	a.langact {
		display:none;
	}
	
	.header a {
		display: none;
	}
	
	.header a.title {
		display: none;
	}
	
	.mobnav{display:grid;position:relative;z-index:1;}
	

	.content {
		top: -3%;
		left: 80px;
		font-size: 25px;
	}
	
	.content img {
		top: 15%;
		left: -75px;
		display: flex;
	}

	.mobnav ul li ul li {
		width: 400px;
	}

	.mobnav ul li ul {
		right: 35%;
		top: 134%;
	}
	
	.hero-image {
		top: 20px;
		height: 200px;
		width: 100%;
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../billeder/131221.png");
	}
	
	.hero-text {
		display: none;
	}
	
	.hero-image .btn1 { /*buy now*/
		top: 40%;
		left: 30%; 
		font-size: 25px;
		padding: 15px 45px;
		
	}

	.hero-image .btn2 { /*free trial*/
		display: none;
	}
	
	.bottom-image{display:none;}
	.bottom-image img {display:none;}
	
	.imgleft{display:none;}
	.imgright{display:none;}
	
	.grid-container {display: grid;}


	.footer-col {
		padding: 0px 0px;
		margin-left: auto;
		margin-right: auto;
		width:35%;
	}

	.footer-col a {
		color: white;
		text-decoration: none;
		display: block;
		margin: 2px;
	}

	.footer-content-wrapper {
		width: 90%;
		margin: 2px auto;  
	}

	.footer-content-wrapper h1 {
		font-size: 30px;
		margin-bottom: 10px;
		color: white;
	}


	.footlang  {
		color: white;
		text-decoration: none;
		padding-top: 160px;
		margin-top: 150px;
		font-size: 20px;
	}


	.credit {
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 15px;
	}
}


